*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}

.card{
    box-shadow:0 0 0 4px grey;
}

.st:hover{
    color:green;
}






body{
    background-image: url('https://img.freepik.com/free-photo/black-friday-elements-assortment_23-2149074076.jpg?w=2000');
	background-repeat: no-repeat;
  background-attachment: fixed;  
  background-size: cover;
 
 

}

