*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}

.card{
    box-shadow: 10px 5px grey;
    background: url('https://img.freepik.com/free-photo/vintage-textured-paper-background_53876-124393.jpg?w=360');
}

.st:hover{
    color:green;
}


#main-title{
    text-shadow: 2px 2px grey;
    font-size:30px;
}





body{
    background-image: url('https://img.freepik.com/free-photo/black-friday-elements-assortment_23-2149074076.jpg?w=2000');
	background-repeat: no-repeat;
  background-attachment: fixed;  
  background-size: cover;
 
 

}

.autocomplete-list{
    background-color: white;
   
   top:0;
   left:0;
    border-radius: 10px;
    list-style-type: none;

    margin:0;
    padding:0;
    max-height: 100px;
    overflow-y: auto;
}
.auto-div{
    margin-top:-16px;
   
}


.autocomplete-list li:hover{
 background:whitesmoke;
 cursor:default;

}

